<% provide(:title, "Top") %>

<div class="row">
  <div class="center jumbotron">
    <h1 class="headline">ポートフォリオ</h1>
      <%= image_tag 'sample.jpg' %>
  </div>
</div>

<div class="row">
  <div class="alert alert-success" role="alert">
    サイト説明
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-4 hidden-xs">
      <div class="card h-100 bg-primary">
        <img class="card-img-top" src="#" alt="ダミーテキスト">
        <div class="card-body">
          <h2 class="card-title">タイトル1</h2>
          <p class="card-text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
          <p class="card-text bu"><a href="#">リンクテキスト</a></p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4 hidden-xs">
      <div class="card h-100 bg-primary">
        <img class="card-img-top" src="#" alt="ダミーテキスト">
        <div class="card-body">
          <h2 class="card-title">タイトル1</h2>
          <p class="card-text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
          <p class="card-text bu"><a href="#">リンクテキスト</a></p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4 hidden-xs">
      <div class="card h-100 bg-primary">
        <img class="card-img-top" src="#" alt="ダミーテキスト">
        <div class="card-body">
          <h2 class="card-title">タイトル1</h2>
          <p class="card-text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
          <p class="card-text bu"><a href="#">リンクテキスト</a></p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="alert alert-success" role="alert">
    区切り1
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">

    </div>
  </div>
</div>


<div class="container">

  <div class="row">

    <div class="col-md-8">

      <div class="card text-white bg-primary mb-3" style="max-width: 300rem;">
        <div class="card-header">お知らせ</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">内容</p>
        </div>
      </div>

      <div class="card-deck">
        <div class="row">

          <div class="col-sm-4">
            <div class="card h-100 bg-primary">
              <img class="card-img-top" src="#" alt="ダミーテキスト">
              <div class="card-body">
                <h2 class="card-title">タイトル1</h2>
                <p class="card-text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
                <p class="card-text bu"><a href="#">リンクテキスト</a></p>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card h-100 bg-primary">
              <img class="card-img-top" src="#" alt="ダミーテキスト">
              <div class="card-body">
                <h2 class="card-title">タイトル2</h2>
                <p class="card-text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
                <p class="card-text bu"><a href="#">リンクテキスト</a></p>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card h-100 bg-primary">
              <img class="card-img-top" src="#" alt="ダミーテキスト">
              <div class="card-body">
                <h2 class="card-title">タイトル3</h2>
                <p class="card-text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
                <p class="card-text bu"><a href="#">リンクテキスト</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card text-white bg-primary mb-3" style="max-width: 300rem;">
        <div class="card-header">最新の風景投稿</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">内容</p>
        </div>
      </div>

      <div class="card text-white bg-primary mb-3" style="max-width: 300rem;">
        <div class="card-header">最新の風景投稿</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">内容</p>
        </div>
      </div>

      <div class="card text-white bg-primary mb-3" style="max-width: 300rem;">
        <div class="card-header">最新の風景投稿</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">内容</p>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div>
        <div class="card h-100 bg-primary">
          <img class="card-img-top" src="#" alt="ダミーテキスト">
          <div class="card-body">
            <h2 class="card-title">タイトル</h2>
            <p class="card-text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
            <p class="card-text bu"><a href="#">リンクテキスト</a></p>
          </div>
        </div>
      </div>

      <div>
        <div class="card h-100 bg-primary">
          <img class="card-img-top" src="#" alt="ダミーテキスト">
          <div class="card-body">
            <h2 class="card-title">タイトル</h2>
            <p class="card-text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
            <p class="card-text bu"><a href="#">リンクテキスト</a></p>
          </div>
        </div>
      </div>

      <div>
        <div class="card h-100 bg-primary">
          <img class="card-img-top" src="#" alt="ダミーテキスト">
          <div class="card-body">
            <h2 class="card-title">タイトル</h2>
            <p class="card-text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
            <p class="card-text bu"><a href="#">リンクテキスト</a></p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="row">
  <div class="alert alert-success" role="alert">
    区切り2
  </div>
</div>
