<% provide(:title, "Mypage") %>

<div class="row">
  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item active"><%= link_to "Home", "#", class: "text-white" %></li>
      <li class="list-group-item">投稿履歴</li>
      <li class="list-group-item">ブックマーク</li>
      <li class="list-group-item">機能未定</li>
      <li class="list-group-item">機能未定</li>
    </ul>

    <ul class="list-group">
      <li class="list-group-item">メールアドレス変更</li>
      <li class="list-group-item">パスワード変更</li>
      <li class="list-group-item">機能未定</li>
      <li class="list-group-item">機能未定</li>
      <li class="list-group-item">機能未定</li>
    </ul>
  </div>

  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
        MyPage
      </div>
      <div class="card-body">
        <div class="center mb-3">
          <% if @user.image? %>
            <%= image_tag @user.image, class: "profile-photo" %>
          <% else %>
            <%= image_tag "no_profile_image.jpg", class: "profile-photo" %>
          <% end %>
        </div>
        <div>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>投稿件数</td>
                <td>●件</td>
              </tr>
              <tr>
                <td>ブックマーク件数</td>
                <td>●件</td>
              </tr>
              <tr>
                <td>●●件数</td>
                <td>●件</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>