<h1>posts#index</h1>

<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post| %>
  <hr>
  <p><span>email: </span><%= link_to post.user.email, user_path(post.user.id) %></p>
  <p><span>投稿内容: </span><%= link_to post.image, post_path(post.id) %></p>
  
  <div id="favorites_buttons_<%= post.id %>">
    <%= render partial: 'favorites/favorite', locals: { post: post} %>
  </div>
  
<% end %>