@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */
// .body-common {
//   padding-top: 60px;
// }

.center {
  text-align: center;
}

/* タイポグラフィ */
// .headline {
//   text-align: center;
//   margin-bottom: 20px;
// }

/* 共通ヘッダ */
.logo {
  color: #fff;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
}
